# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
obligatorio/node_modules/.bin/ansi-html.ps1
obligatorio/node_modules/.bin/ansi-html.cmd
obligatorio/node_modules/.bin/ansi-html
obligatorio/node_modules/.bin/acorn.ps1
obligatorio/node_modules/.bin/acorn.cmd
obligatorio/node_modules/.bin/acorn
obligatorio/node_modules
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/index.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/index.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/index.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/RuleTester.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Rule.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Rule.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Rule.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Rule.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/ParserOptions.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/ParserOptions.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/ParserOptions.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/ParserOptions.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Linter.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Linter.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Linter.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/Linter.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/CLIEngine.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/CLIEngine.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/CLIEngine.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/CLIEngine.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/AST.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/AST.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/AST.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/ts-eslint/AST.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/index.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/index.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/index.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/index.d.ts
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/getParserServices.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/getParserServices.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/RuleCreator.js.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/RuleCreator.js
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/RuleCreator.d.ts.map
obligatorio/node_modules/@typescript-eslint/experimental-utils/dist/eslint-utils/RuleCreator.d.ts
